body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    font-size: 62.5%;
}

h2 {
    color: #d84242;
}

table {
    width: 50%;
    margin-top: 2rem;
    border-collapse: collapse;
    background-color: #fff;
}

table, th, td {
    border: 1px solid #ddd;
}

th {
    background-color: blue;
    color: white;
    padding: 1rem;
}

td {
    padding: 1rem;
    text-align: center;
}

p {
    font-size: 1.6rem;
    color: #333;
}